* {
  font-family: Segoe UI;
}

body {
  background-color: #FFFFFF;
}

#headerimage {
  position: relative;
  width: 100%;
  height: 50vw;
  overflow: hidden;
  display: flex;
}


.color{
	background-color: rgb(213, 233, 242);
}

.P1{
	background-image: url("../img/Hogar.jpg");
}

.imgp{
	height: 100%;
	width: 100%;
}

.slick-slide{
  margin:10px;
  background-color: #e74c3c;
}
.slick-slide img{
  width:100%;
  border: 2px solid #fff;
}

.imagebox {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  max-height: 1080px;
}

.image-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  transition: opacity 0.3s ease;
  padding: 1em;
}

.imgp{
	width: 100%;
	height: 100%;
}

div.image-overlay > div.row:first-child {
  margin-bottom: 20%;
}

div.image-overlay .row h1 {
  color: #FFFFFF;
}

.whatsapp {
  background-color: #31B646;
  font-size: 40px;
  border-radius: 10px;
  color: white;
  padding: 5px;
}

section#Conocenos {
  position: relative;
  height: 60vw;
}

section#Conocenos div#conocenos-img-1 {
  background-image: url(../img/equipo_trabajo.jpg);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  position: absolute;
  overflow: hidden;
  top: 75%;
  left: 35%;
  width: 25%;
  height: 25%;
}

div#bg-mobile {
  background-image: url(../img/fondo_edificios.png);
  background-position: bottom;
  background-size: cover;
}

section#Conocenos div#conocenos-img-0 {
  background-image: url(../img/plomero.jpg);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  position: absolute;
  overflow: hidden;
  top: 25%;
  left: 53%;
  width: 45%;
  height: 45%;
}

section#Conocenos-mobile div#conocenos-img-0-mobile {
  background-image: url(../img/plomero.jpg);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  position: absolute;
  overflow: hidden;
  top: 29%;
  right: 5%;
  width: 60%;
  height: 20%;
}

section#Conocenos div#Conocenos-bg {
  background-image: url(../img/fondo_edificios.png);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
}

section#Conocenos-mobile div#Conocenos-bg-mobile {
  background-image: url(../img/fondo_edificios.png);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  position: absolute;
  overflow: hidden;
  left: 0;
  width: 100%;
  height: 100%;
}

div.image-overlay h1.mobile {
  font-size: 15px;
}

div.image-overlay button {
  border-radius: 10px;
  font-size: 45px;
}

div.image-overlay button.mobile {
  font-size: 15px;
}

section#Conocenos h2, section#servicios h2, footer h2{
  font-size: 60px;
}

section#servicios h2, footer#footer-desktop h2{
  color: #FFFFFF;
}

footer#footer-desktop {
  font-size: 30px;
  color: white;
  text-align: center;
}

footer#footer-desktop .row {
  padding-bottom: 20px;
}

footer#footer-desktop img {
  max-width: 10%;
  max-height: 10%;
}

section#Conocenos h2 {
  color: #2B7FE4;
}

section#servicios h2.servicios-mobile {
  color: #FFFFFF;
  font-size: 30px;
}

section#Conocenos-mobile h2, section#servicios-mobile h2 {
  color: #FFFFFF;
  font-size: 30px;
}
section#Conocenos h3.textxl{
  font-weight: bold;
  font-size: 70px;
}

section#Conocenos h3.textmd{
  font-weight: bold;
  font-size: 40px;
}

section#Conocenos > div:nth-child(3) {
  padding-top: 5%;
}

section#Conocenos > div.row {
  padding-bottom: 0px;
}

h3.subtitle {
  color: #2B7FE4;
}

h3.subtitle-white {
  color: #FFFFFF;
}

.line-blue {
  background-color: #2B7FE4;
}

.line {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.line-container {
  position: relative;
  margin: 1.98vw 0 0;
  width: 300px;
  height: 3px;
  overflow: hidden;
}

.line-container-mobile {
  position: relative;
  margin: 1.98vw 0 0;
  width: 100px;
  height: 3px;
  overflow: hidden;
}

.textxl {
  font-size: 40px;
}

.sourcexl {
  font-size: 30px;
}

.textlg {
  font-size: 30px;
}

.sourcelg {
  font-size: 20px;
}

.textmd {
  font-size: 20px;
}

.sourcemd {
  font-size: 15px;
}

.textsm {
  font-size: 15px;
}

.sourcesm {
  font-size: 10px;
}

.slider {
  width: auto !important;
}

.slider li {
  width: auto !important;
}